@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

body {
  font-family: sans-serif;
}
.body_wrapper {
  background: rgb(0, 0, 0);
  height: 100vh;
}
.game_wrapper {
  height: calc(100vh - 40px - 2rem);
  overflow: hidden;
}
.game_wrapper,
.claim_wrapper,
.s {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*


SEC 1


*/
.card_1 {
  background-color: orange;
  height: 400px;
  width: 400px;

  margin: 40px;
  border-radius: 0.1rem;
  border: 5px inset rgba(255, 166, 0, 0.3);
}
.claim_wrapper {
  height: 100%;
  width: 100%;
}
.claim_num {
  font-family: "bangers";
  font-size: 4rem;
}
/*


SEC 2


*/
.sec_2_and_3 {
  position: relative;
  top: auto;
  opacity: 1;
  transition: top 1s ease, opacity 2s ease;
}
.s {
  height: 300px;
  width: 350px;
  padding: 30px;
  box-sizing: border-box;
  background: rgb(251, 173, 28);

  flex-direction: column;
}
.s > p:nth-of-type(1) {
  line-height: 200%;
  font-size: 3rem;
  font-family: "bangers";
}
.s > p:nth-of-type(2) {
  text-align: center;
  font-size: 1.05rem;
}
.sec_2 {
  display: flex;
  flex-wrap: wrap;

  opacity: 0;
  transition: opacity 2s ease, transform 1.5s;
}
/* 


SEC 3


*/
.sec_3 {
  flex-direction: column;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: opacity 3s ease, transform 1.5s;
}
.card_2,
.card_3 {
  height: 150px;
  width: 760px;
  background: rgb(252, 178, 41);
  margin: 30px;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.c {
  width: 150px;
  background: orange;
  color: rgb(0, 0, 0, 0.8);
  font-size: 2.5rem;
  /* font-family: "bangers"; */
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  box-sizing: border-box;
}
.claim {
  width: 500px;
  font-family: sans-serif;
  text-align: center;
  padding: 50px;
  line-height: 1.5rem;
  box-sizing: border-box;
}
.select {
  width: 100px;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.select > div {
  height: 75px;
  border: 1px solid rgb(0, 0, 0, 0.2);
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}
.tick {
  background: rgba(0, 128, 0, 0.8);
}
.cross {
  background: rgba(255, 0, 0, 0.8);
}
.select > div > img {
  width: 50px;
}
.select > div > img:hover {
  width: 55px;
}
.card_3 > div {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;
}
.clue_card:hover {
  background: linear-gradient(to right, orange, rgb(252, 178, 41));
}
/* .src_card:hover {
  background: linear-gradient(to left, orange, rgb(252, 178, 41));
} */

/* .src_card:hover, */
.clue_card:hover {
  cursor: pointer;
}
.card_3 > div:hover .click_text {
  transform: scale(1.05);
}
.card_3 {
  position: relative;
  font-family: sans-serif;
  height: 50px;
  transition: height 2s, width 2s;
}
/* .slant_border {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 5px !important; 
  background-color: black; 
  transform: translateX(-50%) skewX(-20deg); 
} */
/* .clue_card:hover ~ .slant_border {
  left: 52%;
}
.src_card:hover ~ .slant_border {
  left: -2%;
} */
.disappear_1 {
  transition: opacity 1s ease;
  opacity: 0;
  display: None;
}
.clues,
.sources {
  height: 150px;
  width: 760px;
  background-color: rgb(252, 178, 41);

  opacity: 0;
  transition: opacity 2s ease;
}
.click_text {
  left: 0;
  opacity: 1;
}
/*
  

CLUES CAROUSEL  


*/
.info {
  display: flex;

  height: 100%;
}
.rotate_label {
  white-space: nowrap;
  text-orientation: upright;
  transform-origin: right top;
  transform: rotate(-90deg);

  position: relative;
  left: -50px;
  top: 20px;
  font-size: 1.5rem;
  font-weight: 600;
  z-index: 0;
}
.sources .rotate_label {
  left: -70px;
  top: 0;
}
.i_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  z-index: 1;
  padding: 20px;
  box-sizing: border-box;
}
.sources .i_wrapper {
  width: 80%;
}
.i_container {
  flex: 1;
  overflow: hidden;
}
.i {
  display: flex;
  flex-direction: column;

  cursor: default;
}
.clue,
.source {
  display: none;
  margin: 0;
  padding: 10px;

  font-size: 1rem;
  text-transform: none;
  font-weight: 400 !important;
}
.clue.active,
.source.active {
  display: block;
}
.i_wrapper > img {
  width: 30px;
  cursor: pointer;
}
.check_other {
  background: rgb(0, 0, 0, 0.1);
  height: 20%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.check_other > div {
  color: darkslategrey;
  font-size: 1rem;
  margin-right: 20px;
  cursor: pointer;

  display: flex;
  align-items: center;
}

/* 


SEC 4


*/
.sec_4 {
  align-items: center;
}
#emoji {
  transform: scale(0);

  transition: transform 2s;

  position: relative;
  top: -250px;
  left: -250px;
}
#verdict {
  height: 400px;
  width: 400px;
  border-radius: 0.8rem;

  transition: opacity 2s ease, background 1s ease, border 1s ease;
}
#verdict_content {
  height: 400px;
  width: 400px;
  position: relative;
  top: -514px;
  padding: 50px 20px 20px 70px;
  box-sizing: border-box;

  opacity: 0;
  transition: opacity 2s ease;
}
#verdict_title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #00000070;
  font-style: oblique;
  overflow-wrap: break-word;
}
#verdict_info {
  overflow-wrap: break-word;
  margin: 30px 30px 0 0;
  font-family: sans-serif;
}
#end_action {
  display: flex;
  flex-direction: column;
  margin: 0 20px;

  opacity: 0;
  transition: opacity 2s ease;
}
#end_action > button {
  margin: 10px;
  padding: 10px 15px;
  font-size: 1rem;
  color: white;
  background: black;
  border: 2px solid white;
  border-radius: 0.2rem;
  cursor: pointer;
  width: 130px;
}
#end_action > button:hover {
  background: rgba(255, 255, 255, 0.1);
  font-weight: 600;
}
