@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

body {
  font-family: sans-serif;
}
.body_wrapper {
  background: rgb(0, 0, 0);
  height: 100vh;
}
.game_wrapper {
  height: calc(100vh - 40px - 2rem);
  overflow: hidden;
}
.game_wrapper,
.s {
  display: flex;
  justify-content: center;
  align-items: center;
}
.back {
  height: 2rem;
  width: 2rem;
  margin: 20px 10px;
}
/*


SEC 1


*/
.sec_1 {
  background-color: orange;
  height: 400px;
  width: 400px;

  margin: 40px;
  border-radius: 0.1rem;
  border: 5px inset rgba(255, 166, 0, 0.3);

  display: flex;
  justify-content: center;
  align-items: center;

  animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: fadeInOut1;
  animation-delay: 0s;
}
@keyframes fadeInOut1 {
  100% {
    opacity: 0;
    height: 0;
    width: 0;
    border: 0;
    margin: 0;
  }
  95% {
    opacity: 0;
    height: 400px;
    width: 400px;
    border: 5px inset rgba(255, 166, 0, 0.3);
  }
  20%,
  70% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}
#c_no {
  font-family: "bangers";
  font-size: 4rem;
}
/*


SEC 2


*/
.sec_2_and_3 {
  position: relative;
  top: auto;
  height: 80vh;
  max-width: 760px;
}

.s {
  height: 300px;
  width: 350px;
  padding: 30px;
  box-sizing: border-box;
  background: rgb(251, 173, 28);

  flex-direction: column;
}
.s > p:nth-of-type(1) {
  line-height: 200%;
  font-size: 3rem;
  font-family: "bangers";
}
.s > p:nth-of-type(2) {
  text-align: center;
  font-size: 1.05rem;
}
.sec_2 {
  background-color: rgb(30, 30, 30);
  padding: 25px 20px 10px;
  box-sizing: border-box;
  color: cornsilk;
  font-family: sans-serif;
  width: 760px;
  font-size: 1.1rem;
  border: 3px solid #ffffff10;
  /* font-weight: 700; */

  animation-duration: 3s;
  animation-fill-mode: both;
  animation-name: fadeInOut2;
  animation-delay: 2s;
}
@keyframes fadeInOut2 {
  0% {
    opacity: 0;
    height: 0;
    width: 0;
  }
  1% {
    height: auto;
    width: 760px;
  }
  20%,
  100% {
    opacity: 1;
  }
}
.sec_2 p {
  display: inline-block;
}
#c_who,
#c_when {
  padding: 5px;
  border-radius: 1px;
  line-height: 1.5rem;
}
#c_who {
  background: #c36b00;
  margin-top: 5px;
}
#c_when,
#c_when a {
  color: orange;
  font-weight: 500;
  text-transform: uppercase;
}
/* 


SEC 3


*/
.sec_3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  animation-duration: 3s;
  animation-fill-mode: both;
  animation-name: fadeInOut3;
  animation-delay: 6s;
}
@keyframes fadeInOut3 {
  0% {
    opacity: 0;
    height: 0;
    width: 0;
  }
  1% {
    opacity: 0;
    height: auto;
    width: auto;
  }
  70%,
  100% {
    opacity: 1;
  }
}
#mid_sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: sans-serif;
  text-transform: uppercase;

  animation-duration: 4s;
  animation-fill-mode: both;
  animation-name: fadeInOut22;
  animation-delay: 2s;
}
@keyframes fadeInOut22 {
  0% {
    opacity: 0;
    height: 0;
    width: 0;
  }
  1% {
    height: auto;
    width: auto;
  }
  20%,
  80% {
    opacity: 0.5;
  }
  90% {
    opacity: 0;
    height: auto;
  }
  100% {
    opacity: 0;
    height: 0;
  }
}
#claim_loading {
  height: 250px;
  width: auto;
}
.card_2 {
  margin: 30px;
}
.card_2,
.card_3 {
  height: 150px;
  width: 760px;
  background: rgb(252, 178, 41);
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.c {
  height: 100%;
  width: 150px;
  background: rgb(30, 30, 30);
  color: orange;
  /* border: 15px solid #562f01; */
  font-size: 2.1rem;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}
.claim {
  width: 500px;
  height: inherit;
  font-family: sans-serif;
  text-align: center;
  padding: 40px;
  line-height: 1.5rem;
  font-size: 1.15rem;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}
.select {
  width: 100px;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.select > div {
  height: 75px;
  border: 1px solid rgb(0, 0, 0, 0.2);
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}
#tick {
  background: rgba(0, 128, 0, 0.8);
}
#cross {
  background: rgba(255, 0, 0, 0.8);
}
.select > div > img {
  width: 50px;
}
.select > div > img:hover {
  width: 55px;
}
.card_3 {
  width: 760px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px inset #c36b00;

  position: relative;
  font-family: sans-serif;
  height: 70px;
  text-transform: uppercase;
}
.card_3:hover {
  background: linear-gradient(to right, orange, rgb(252, 178, 41));
  cursor: pointer;
}
.card_3:hover .click_text {
  transform: scale(1.05);
}
.card_3:hover {
  height: 75px;
}
.click_text {
  left: 0;
  opacity: 1;
}
.vc {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeOut31;
  animation-delay: 0s;
}
@keyframes fadeOut31 {
  0% {
    opacity: 1;
    left: 0;
  }
  70% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    left: -100%;
    opacity: 0;
    transform: scale(0);
  }
}
.disappear_1 {
  transition: opacity 1s ease;
  opacity: 0;
  display: None;
}

/*
  
CLUES CAROUSEL  

*/
.clues {
  display: none;
  justify-content: space-between;
  align-items: center;

  opacity: 0;
  transition: opacity 0.7s ease;
  z-index: 1;

  cursor: default;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.showClues {
  display: flex;
  opacity: 1;
}
.i_container {
  flex: 1;
  overflow: hidden;
}
.clue {
  display: none;
  margin: 0;
  padding: 10px;
  font-size: 1.1rem;
  font-style: italic;
  text-transform: none;
  font-weight: 400 !important;
}
.clue.active {
  display: block;
}
.clues > img {
  width: 30px;
  cursor: pointer;
}
.check_other {
  background: rgb(0, 0, 0, 0.1);
  height: 20%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.check_other > div {
  color: darkslategrey;
  font-size: 1rem;
  margin-right: 20px;
  cursor: pointer;

  display: flex;
  align-items: center;
}

/* 

SEC 4

*/
.sec_4 {
  display: none;
  align-items: center;
}
#emoji {
  transform: scale(0);
  transition: transform 1s;

  position: relative;
  top: -250px;
  left: -250px;
}
#verdict {
  height: 400px;
  width: 400px;
  border-radius: 0.8rem;

  transition: opacity 1.5s ease, background 1s ease, border 1s ease;
}
#verdict_content {
  height: 400px;
  width: 400px;
  position: relative;
  top: -514px;
  padding: 50px 20px 20px 70px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  opacity: 0;
  transition: opacity 1.3s ease;
}
#verdict_title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #00000070;
  font-style: oblique;
  overflow-wrap: break-word;
}
#verdict_info {
  overflow-wrap: break-word;
  margin: 30px 30px 0 0;
  font-family: sans-serif;
  text-align: justify;
  background: #ffffff70;
  padding: 15px 10px;
  border-radius: 5px;
  color: #000000bf;
  overflow: scroll;
}
#source {
  font-family: sans-serif;
  padding: 10px 0;
  justify-self: flex-end;
  margin-top: auto;
}
#end_action {
  display: flex;
  flex-direction: column;
  margin: 0 20px;

  opacity: 0;
  transition: opacity 2s ease;
}
#end_action > button {
  margin: 10px;
  padding: 10px 15px;
  font-size: 1rem;
  color: white;
  background: black;
  border: 2px solid white;
  border-radius: 0.2rem;
  cursor: pointer;
  width: 130px;
}
#end_action > button:hover {
  background: rgba(255, 255, 255, 0.1);
  font-weight: 600;
}
#noViewClue {
  height: 100%;
  width: 100vw;
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: fadeInOut44;
  animation-delay: 0s;
}
#noViewClue > p {
  color: rgb(40, 40, 40);
  height: min-content;
  font-family: sans-serif;
  padding: 50px 75px;
  background: cornflowerblue;
  border: 10px solid rgb(40, 40, 40);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
}
@keyframes fadeInOut44 {
  0% {
    opacity: 0;
    height: 0;
  }
  1%,
  95% {
    backdrop-filter: blur(10px);
    opacity: 1;
    height: 100%;
  }
  100% {
    opacity: 0;
    height: 0;
    backdrop-filter: none;
  }
}
#c04extra {
  height: 400px;
  max-width: 400px;
  color: white;
  padding: 30px;
  margin: 20px;
  box-sizing: border-box;
  font-family: sans-serif;
  border-radius: 0.8rem;
  border: 3px inset darkorange;
  font-size: smaller;

  animation-fill-mode: both;
  animation-delay: 3s;
}
.c04extra {
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-name: fadeInOut_e4;
  animation-delay: 3s;
}
@keyframes fadeInOut_e4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#c04extra ul {
  padding-left: 20px;
  list-style-type: disc;
}
