@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*

CUSTOM CSS

*/
.welcome_body {
  height: 100vh;
  background: url("../../img/8715883.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#title {
  font-family: sans-serif;
  text-align: center;
  margin-top: auto;
  /* position: fixed;
  bottom: 0; */
  color: lightgoldenrodyellow;
  letter-spacing: 0.1rem;
  opacity: 0.3;
  padding: 10px;
}
#title > a {
  color: lightgoldenrodyellow;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.2);
  padding: 3px;
  border-radius: 0.3rem;
}

.body_wrapper {
  background: rgb(0, 0, 0);
  /* background: rgb(46, 46, 46); */
  height: 100vh;
}
.game_wrapper {
  height: calc(100vh - 40px - 2rem);
}
.game_wrapper,
.claim_wrapper,
.s {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card_1 {
  background-color: orange;
  height: 400px;
  width: 400px;

  margin: 40px;
  border-radius: 0.1rem;
  border: 5px inset rgba(255, 166, 0, 0.3);
}
.claim_wrapper {
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.claim_num {
  font-family: "bangers";
  font-size: 4rem;
}
.s {
  height: 350px;
  width: 350px;
  padding: 30px;
  box-sizing: border-box;
  background: rgb(251, 173, 28);

  flex-direction: column;
}
.s > p:nth-of-type(1) {
  line-height: 300%;
  font-size: 2rem;
  font-family: "bangers";
}
.s > p:nth-of-type(2) {
  text-align: center;
  font-size: 1.05rem;
  font-family: "Courier New", Courier, monospace;
}
.sec_2 {
  display: flex;
  flex-wrap: wrap;
}
.sec_3 {
  flex-direction: column;
  justify-content: center;
  align-items: center;

  opacity: 0;
  /* transition: opacity 5s ease; */
}
.card_2,
.card_3 {
  height: 150px;
  width: 760px;
  background: rgb(252, 178, 41);
  margin: 30px;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.c {
  width: 150px;
  background: orange;
  color: rgb(0, 0, 0, 0.8);
  font-size: 2.5rem;
  font-family: "bangers";
  text-transform: uppercase;
  font-weight: 700;
  box-sizing: border-box;
}
.claim {
  width: 500px;
  font-family: sans-serif;
  text-align: center;
  padding: 50px;
  /* font-size: 1.2rem; */
  line-height: 1.5rem;
  box-sizing: border-box;
}
.select {
  width: 100px;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.select > div {
  height: 75px;
  border: 1px solid rgb(0, 0, 0, 0.2);
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}
.tick {
  background: rgba(0, 128, 0, 0.8);
}
.cross {
  background: rgba(255, 0, 0, 0.8);
}
.select > div > img {
  width: 50px;
}
.select > div > img:hover {
  width: 55px;
}
.card_3 > div {
  /* background: orange; */
  width: 50%;
  height: 100%;
  text-align: center;
  font-family: sans-serif;
  font-size: 2rem;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;
}
.clue_card:hover {
  background: linear-gradient(to right, orange, rgb(252, 178, 41));
}
.src_card:hover {
  background: linear-gradient(to left, orange, rgb(252, 178, 41));
}
.clue_card:hover,
.src_card:hover {
  cursor: pointer;
}
.card_3 > div:hover p {
  transform: scale(1.05);
  font-weight: 700;
  /* color: rgb(69, 38, 0); */
}
.card_3 {
  position: relative;
}
.slant_border {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  /* right: 0; */
  width: 5px !important; /* Adjust the width of the slanting border */
  background-color: black; /* Change the color of the border if needed */
  transform: translateX(-50%) skewX(-20deg); /* Adjust the skew angle as needed */
}
.clue_card:hover ~ .slant_border {
  left: 52%;
}
.src_card:hover ~ .slant_border {
  left: -2%;
}
.disappear_1 {
  transition: opacity 1s ease;
  opacity: 0;
  display: None;
}
.clues {
  height: 150px;
  width: 760px;
  background-color: rgb(252, 178, 41);

  opacity: 0;
  transition: opacity 2s ease;
}
.click_text {
  left: 0;
  opacity: 1;
}
/*


CLUES CAROUSEL


*/
.clues_each {
  display: flex;
  align-items: center;
}

.clue_container {
  flex: 1;
  overflow: hidden;
}

.clue {
  display: none;
  margin: 0;
  padding: 10px;
}

.clue.active {
  display: block;
}
