
.welcome_body {
  height: 100vh;
  background: url("../../img/8715883.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#title {
  font-family: sans-serif;
  text-align: center;
  margin-top: auto;
  /* position: fixed;
  bottom: 0; */
  color: lightgoldenrodyellow;
  letter-spacing: 0.1rem;
  opacity: 0.3;
  padding: 10px;
}
#title > a {
  color: lightgoldenrodyellow;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.2);
  padding: 3px;
  border-radius: 0.3rem;
}
